<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionset.mapper.QuestionQuestionSetMapper">
    <resultMap id="questionQuestionSet" type="com.questionset.model.entity.QuestionQuestionSet">
        <id column="id" property="id"/>
        <result column="questionset_id" property="questionset_id"/>
        <result column="question_id" property="question_id"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="selectQuestionQuestionSetList" resultMap="questionQuestionSet">
        SELECT
        id,questionset_id,question_id,score
        FROM i_question_questionset
        where questionset_id = #{id}
    </select>

    <delete id="removeByQuestionId" parameterType="string">
        delete from i_question_questionset where question_id=#{questionId}
    </delete>
</mapper>
